
    <div class="left">
      <div id="studenttext">Student's text<br>
	<textarea id="originaltext" readonly="readonly" onMouseUp="glob.createErrorStub(this,glob.currentError);"></textarea>
      </div>

      <div id="feedbackarea">Teachers corrections and comments<br>
	<form id="correctionform">
	</form>
      </div>
    </div>
    <div class="right">
      <div class="menu" id="errortype">Type of error<br>
	<table>
	  <tr><td id="omission" onclick="glob.addTypeToError(this.id,glob.currentError);">omission</td></tr>
	  <tr><td  id="wordorder" onclick="glob.addTypetoError(this.id, glob.currentError);">word order</td></tr>
	  <tr><td id="lexical" onclick="glob.addTypetoError(this.id, glob.currentError);">lexical</td></tr>
	  <tr><td id="register" onclick="glob.addTypetoError(this.id, glob.currentError);">register</td></tr>
	  <tr><td  id="tense" onclick="glob.addTypetoError(this.id, glob.currentError);">tense</td></tr>
	  <tr><td id="voice" onclick="glob.addTypetoError(this.id, glob.currentError);">voice</td></tr>
	</table>
      </div>
      <div class="menu" id="editaction">Edit action<br>
	<table>
	  <tr><td id="delete" onclick="glob.addActionToErrorStub(this.id, glob.currentError);">delete</td></tr>
	  <tr><td id="replace" onclick="glob.addActionToErrorStub(this.id, glob.currentError);">replace</td></tr>
	  <tr><td id="edit" onclick="glob.addActionToErrorStub(this.id, glob.currentError);">edit</td></tr>
	  <tr><td id="move" onclick="glob.addActionToErrorStub(this.id, glob.currentError);">move</td></tr>
	  <tr><td id="insert" onclick="glob.addActionToErrorStub(this.id, glob.currentError);">insert</td></tr>
	  <tr><td id="mark" onclick="glob.addActionToErrorStub(this.id, glob.currentError);">mark</td></tr>
	</table>
      </div>
      <div id="errorlist">
	<div id="currenterror">
	  Current error: none
	</div>
	<table id="errortable">
	  <thead>
	    <tr><th>Nr</th><th>String</th><th>Type</th><th>Action</th><th></th></tr>
	  </thead>
	</table></div>
      <div id="registerfeedback"><input type="button" onclick="" value="Register feedback"></div>
    </div>
