<form name="loginform" action="/login/submit">
  <select name="usertype">
    <option value="Teacher">Teacher</option>
    <option value="Student" selected>Student</option>
  </select>
  <input type="text" name="username">
  <input type="submit" value="login">
</form>
