<form name="composition" action="/compositions/new" method="post">
 <label> <input type="text" name="assignment_id" value="<%= @assignment %>"> ass_id</label><br>
 <label> <textarea name="maintext"> </textarea>Write your text </label><br>
 <label> <input type="text" name="student_name">Write your name</label><br>
 <input type="submit" value="submit your composition">
</form>
