<form name="new_assignment" action="/teacher/assignment" method="post">
  <label>課題名<input type="text" name="title"></label><br />
  <label>課題説明<textarea name="description"></textarea></label><br />
  <input type="submit" value="課題を登録">
</form>
