<div class="container">
  <div class="row">
    <div class="twelvecol last">
      <nav>
	<a href="<%=url('/teacher/dashboard')%>">ダッシュボード</a>
	<a href="<%=url('/teacher/errors')%>">エラーの集計</a>
	<a href="<%=url('/teacher/assignments/new')%>">課題新規登録</a>
	________
	<a href="<%=url('/logout')%>">ログオフ</a>
      </nav>
    </div>
  </div>
</div>
