/*hej*/
.row {

}
h1 {
    line-height: 27px;
}
h2 {
    margin-top: 4px;
    font-size: 12pt;
}
nav {
    height: 20px;
    background-color: #FCF6CF;
    border: solid #FDFCDC 2px;
    margin-bottom: 10px;
    padding: 5px;
}
.buttonlike, nav > a {
    border: solid lightgrey 1px;
    box-shadow: 1px 1px 1px grey;
}
nav > a:link {
    color: black;
}
nav > a:visited {
    color: black;
}
.buttonlike:hover, nav > a:hover {
    background-color: #FCF6EF;
}
.buttonlike:active, nav > a:active {
    background-color: #DCD6DF;
    box-shadow: 0px 0px 0px grey;
}
.menu table {
    width: 100%;
}
.menu td {

    border: 1px solid lightgrey;
    background-color: white;
 }
.menu td:hover {
    border: 1px solid black;
    background-color: lightgrey;
}

#studenttext {
    position: relative;
    height: 300px;
    overflow: scroll;
    border-top: 3px solid #ccc;
    border-right: 3px solid #ccc;
}
#studenttext #originaltext {
    z-index: 2;
    position: absolute;
    top: 13px;
    left: 3px;
    height: 90%;
    width: 97%;
    font-family: serif;
    font-size: 11px;
    opacity: 0;
    word-wrap: break-word;
    white-space: pre-wrap;
}
#studenttext #originaltext:active {
    opacity: 0.7;
}
#studenttext #styledtext {
    z-index: 1;
    position: absolute;
    top: 13px;
    left: 3px;
    height: 90%;
    width: 97%;
    font-family: serif;
    font-size: 11px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

#feedbackarea {
    height: 250px;
   overflow: scroll;
    border-top: 3px solid #ccc;
} 
#feedbackarea .correction {
    width: 150px;
}
#feedbackarea .comment {
    width: 300px;
}
#registerfeedback {
float: right;
}

#errortype, #editaction{
    float: left;
    height: 100%;
    width: 80px;
    border-bottom: 3px solid #ccc;
    border-left: 2px solid #ccc;
    border-right: 1px solid #ccc;
}
#errorlist {    
    float: left;
    border-right: 3px solid #ccc;
    border-left: 2px solid #ccc;
    border-bottom: 3px solid #ccc;
}


#styledpopup {
    z-index: 1;
    position: absolute;
    right: 40;
    width: 400px;
    font-family: serif;
    font-size: 12px;
    word-wrap: break-word;
    white-space: pre-wrap;
}

.error {
    background-color: lightgrey;
}
span.error > span.error {
    background-color: navajowhite;
}

/* begin: s_respond.erb */
}
table.s_errors {
    width: 100%;
}
table.s_errors td {
    border-right: solid black 1px;
}
table.s_errors  td.context {
    width: 50%;
}
table.s_errors td.error, table.s_errors td.correction {
    background: none;
    width: 25%;
}
#feedbacktable {
    width: 100%;
}
#feedbacktable td {
    border-bottom: dashed black 1px;
}
#feedbacktable td.corrections {
    width: 15%;
}
#feedbacktable td.comment {
    width: 35%;
}
#feedbacktable td.understanding, #feedbacktable td.agreement {
    width: 7%;
}
#feedbacktable td.response {
    width: 35%;
}
#feedbacktable td.response > input {
    width: 100%;
}
/*#feedbacktable select{
    width: 50px;
}*/
/* end: s_respond.erb*/

#studenttextinput, #assignmentdescriptioninput {
    width: 500px;
    height: 400px;

}
.bordered {
    border: 3px solid #ccc;   
}

/* not used?
.marked {
    color: blue;
}
.errors {
}
.text {
    float: right;
}    float: left;
*/